* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

#high-scores {
    width: 50%;
    text-align: left;
    padding-left: 20px;
    color: purple;
}

#time {
    width: 50%;
    text-align: right;
    padding-right: 20px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
}

#main-header {
    text-align: center;
    font-size: larger;
    margin-bottom: 20px;
}

#main-text {
    text-align: center;
    margin-bottom: 20px;
}

.button {
    height: 40px;
    width: 120px;
    background-color: purple;
    color: white;
    border-radius: 5px;
    font-size: larger;
}

.button:hover {
    background-color: plum;
    cursor: grab;
}

#high-scores:hover {
    color: plum;
    cursor: grab;
}